﻿@using Models
@model ContactManager.Models.ContactViewModel
<style type="text/css">.hidden-address-id { }</style>

<script type="text/javascript">
    function submitButton() {
        var form = $("#addEditForm");
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        var formValid = $("#addEditForm").validate().form();
        if (formValid) {
            $.ajax({
                type: "POST",
                url: "Home/AddEditPartial",
                data: $("#addEditForm").serialize(),
                success: function (result) {
                    reloadTable();
                }
            });

            $('#edit-member').modal('toggle');
        }

        function reloadTable() {
            var url = "/Home/PartialTableView";
            $.get(url,
                function(data) {
                    $('#table-holder').html(data);
                });
            $('#contactTable').DataTable();
        }
        }
        function addAddress() {
            var record = $('.hidden-address-id div:last-child');

            //Find number in record
            var value = $('.hidden-address-id:last').attr('name');
            var rowId = value.match(/\d+/);

            $('#address-container div:last-child').clone().appendTo("#address-container");
            var newRecord = $('#address-container div:first-child').clone().html().replace(/0/g, parseInt(rowId) + 1);
            alert(newRecord);
            //To-Do: Insert newRecord back into the DOM

        };
</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@(Model.Id == 0 ? "Add" : "Edit")</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (@Html.BeginForm("AddEditPartial", "Home", FormMethod.Post, new {@id="addEditForm"})) { 
            <div class="modal-body">
                @Html.HiddenFor(a => a.Id)
                @Html.ValidationSummary(true)
                <div class="mb-3">
                    @Html.LabelFor(a => a.FirstName)
                    @Html.EditorFor(a => a.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(a => a.FirstName)
                </div>
                <div class="mb-3">
                    @Html.LabelFor(a => a.LastName)
                    @Html.EditorFor(a => a.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(a => a.LastName)
                </div>
                Email Addresses
                <div id="address-container">
                    @for (int i=0;i<Model.Addresses.Count ;i++)
                    {
                        <div class="mb-3" class="address-row">
                            <input type="hidden" name="Addresses[@i].Id" class="hidden-address-id" value="@Model.Addresses[@i].Id" />
                            <input type="hidden" name="Addresses[@i].ContactId" value="@Model.Addresses[@i].ContactId" />
                            Email: <input type="text" name="Addresses[@i].Address" value="@Model.Addresses[@i].Address" />
                            Type: <select id="Model.Addresses[@i].EmailType" name="@Model.Addresses[@i].EmailType">
                                <option>Personal</option>
                                <option>Business</option>
                            </select>
                        </div>
                    }
                </div>
                <button type="button" class="btn btn-primary" onclick="addAddress()">Add Address</button>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submitButton()">@(Model.Id == 0 ? "Create" : "Update")</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        }
    </div>
</div>
