﻿@model System.Collections.Generic.IEnumerable<ContactManager.Models.ContactViewModel>


<table id="contactTable" class="display" style="width:100%">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contacts</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model)
    {
        <tr class="edit-item" data-id=@row.Id >
            <td>@row.FirstName</td>
            <td>@row.LastName</td>
            <td>@String.Join(',', row.Addresses.Select(a => a.Address))</td>
        </tr>
    }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#contactTable').DataTable();
    });
</script>