﻿@{
    ViewData["Title"] = "Home Page";
}
@model System.Collections.Generic.IEnumerable<ContactManager.Models.ContactViewModel>


@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

    <script type="text/javascript">
    

        $(document).ready(function () {
            $('#contactTable').DataTable();

            function openModal(currentObj)
            {
                var url = "/Home/AddEditPartial";
                var id = currentObj.attr('data-id');
                $.get(url + '/' + id,
                    function (data) {
                        $('#edit-member').html(data);
                        $.validator.unobtrusive.parse("#addEditForm");
                        $('#edit-member').modal('show');
                    });
            }

            $('body').on("click", ".add-item", function() {
                openModal($(this));
            });

            $('body').on("dblclick", ".edit-item",function () {
                openModal($(this));
            });

        });
    </script>
}

@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>

}

<div class="text-center">
    <h1 class="display-4">Contact Manager</h1>
    <button class="float-right add-item btn btn-dark">Add</button>
    
    <div id="table-holder">
        @Html.Partial($"ContactViewTable");
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="edit-member" aria-labelledby="Read"></div>
</div>
